/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.gallery img {
    width: 80%; /* Set image width to 80% of its container */
    max-width: 400px; /* Ensure the image doesn’t become too large */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Center the images */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

@media (min-width: 768px) {
    .gallery img {
        width: 48

    }
}    